<html>
    <head></head>
    <style></style>
    <body>
        {% extends "userinterfacefiles/home.html" %} 
        {% block body_block %}
        <form method="POST" action ="{% url 'orderproduct' %}">
            {%csrf_token%}
            <div >
                {%for item in items %}
                <div >
                    <div >
                        <h1>{{item.itemname}}</h1>
                            {%if item.imageUrl%}
                                <img src={{item.imageUrl}} >
                            {%endif%}
                        <hr>
                        <h4 >${{item.price}}</h4>
                        <hr>
                        <label>select quantity</label>
                    <select name ="product_quantity" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                      </select>
                        <input type="hidden" name ="itemid" value="{{item.itemid}}"/>
                        <input type="submit" value="Order This Item"/>
                        <hr>
                    </div>
                    <hr>
                </div>
                {%endfor%}
            </div>
        </form>
        {%endblock%}
    </body>
</html>
